In [7]:
my_dict = { 
    "name" : "Büşranur",
    "company" : "Turkcell",
    "age" : "25",
    "isFemale" : True,
    "salary" : 10000.50
    }

my_dict

{'name': 'Büşranur',
 'company': 'Turkcell',
 'age': '25',
 'isFemale': True,
 'salary': 10000.5}

In [8]:
my_dict = { 
    "name" : "Büşranur",
    "company" : "Turkcell",
    "title":["AI & ML Engineer", "Data Scientist", "Backend Developer"],
    "age" : "25",
    "isFemale" : True,
    "salary" : 10000.50
    }

my_dict

{'name': 'Büşranur',
 'company': 'Turkcell',
 'title': ['AI & ML Engineer', 'Data Scientist', 'Backend Developer'],
 'age': '25',
 'isFemale': True,
 'salary': 10000.5}

In [9]:
titlesarehere = ["AI & ML Engineer", "Data Scientist", "Backend Developer"]
my_dict = { 
    "name" : "Büşranur",
    "company" : "Turkcell",
    "title": titlesarehere,
    "age" : "25",
    "isFemale" : True,
    "salary" : 10000.50
    }

my_dict

{'name': 'Büşranur',
 'company': 'Turkcell',
 'title': ['AI & ML Engineer', 'Data Scientist', 'Backend Developer'],
 'age': '25',
 'isFemale': True,
 'salary': 10000.5}

In [10]:
my_dict = dict({"first name": "Menekşe ", "last,name" : "Avcı"})
my_dict

{'first name': 'Menekşe ', 'last,name': 'Avcı'}

In [11]:
type(my_dict)

dict

In [12]:
colors = {
    "blue":"mavi",
    "red" : "kırmızı",
    "yellow" : "sarı"

}

colors

{'blue': 'mavi', 'red': 'kırmızı', 'yellow': 'sarı'}

In [14]:
colors["yellow"]

'sarı'

In [16]:
#sözlükte yer alan tüm key değerlerine erişim
colors.keys()

dict_keys(['blue', 'red', 'yellow'])

In [15]:
#sözlükte yer alan tüm value değerlerine erişim
colors.values()

dict_values(['mavi', 'kırmızı', 'sarı'])

In [17]:
#sözlükte yer alan tüm key-value değerlerine erişim
colors.items()

dict_items([('blue', 'mavi'), ('red', 'kırmızı'), ('yellow', 'sarı')])

Döngü ile erişim

In [18]:
for i in colors.keys():
    print(i)

blue
red
yellow

In [19]:
for i in colors.values():
    print(i)

mavi
kırmızı
sarı

In [20]:
for i in colors.items():
    print(i)

('blue', 'mavi')
('red', 'kırmızı')
('yellow', 'sarı')

In [21]:
for i in colors.items():
    print(f"key: {i[0]} --- value: {i[1]}")

key: blue --- value: mavi
key: red --- value: kırmızı
key: yellow --- value: sarı

In [22]:
print("Sözlüğün uzunluğu: ", len(colors))

Sözlüğün uzunluğu:  3

**Sözlüğe Eleman Ekleme**

* key value atama işlemi ile
* update methodu ile

In [23]:
movies = {
    1998: "Friends",
    1991: "Person of Interest",
    1992: "Heartland",
    1993: "Doctor Who"
}

movies

{1998: 'Friends',
 1991: 'Person of Interest',
 1992: 'Heartland',
 1993: 'Doctor Who'}

In [24]:
movies[1995] = "Harry Potter"

movies

{1998: 'Friends',
 1991: 'Person of Interest',
 1992: 'Heartland',
 1993: 'Doctor Who',
 1995: 'Harry Potter'}

In [27]:
movies[1993] = "The Big Bang Theory"

movies

{1998: 'Friends',
 1991: 'Person of Interest',
 1992: 'Heartland',
 1993: 'The Big Bang Theory',
 1995: 'Harry Potter',
 1994: 'The Big Bang Theory'}

In [28]:
movies.update({1996:"Squid Game", 1993:"The Queen's Gambit"})

movies

{1998: 'Friends',
 1991: 'Person of Interest',
 1992: 'Heartland',
 1993: "The Queen's Gambit",
 1995: 'Harry Potter',
 1994: 'The Big Bang Theory',
 1996: 'Squid Game'}

**Silme İşlemleri**

* del key
* clear()
* del dict_name
* popitem()
* pop(key)

In [29]:
personel_info = {
    "name" : "İrem",
    "TCKN" : 1323434212,
    "starting date" : 2019,
    "title" : "AI&ML Engineer"
}

personel_info

{'name': 'İrem',
 'TCKN': 1323434212,
 'starting date': 2019,
 'title': 'AI&ML Engineer'}

In [30]:
#del key
del personel_info["starting date"]

personel_info

{'name': 'İrem', 'TCKN': 1323434212, 'title': 'AI&ML Engineer'}

In [31]:
#clear
personel_info.clear()

personel_info

{}

In [32]:
#del dict_name

del personel_info

personel_info

NameError: name 'personel_info' is not defined

In [2]:
#popitem
personel_info = {
    "name" : "İrem",
    "TCKN" : 1323434212,
    "starting date" : 2019,
    "title" : "AI&ML Engineer"
}

personel_info.popitem()

personel_info

{'name': 'İrem', 'TCKN': 1323434212, 'starting date': 2019}

In [3]:
#pop
personel_info = {
    "name" : "İrem",
    "TCKN" : 1323434212,
    "starting date" : 2019,
    "title" : "AI&ML Engineer"
}

personel_info.pop("TCKN")

personel_info

{'name': 'İrem', 'starting date': 2019, 'title': 'AI&ML Engineer'}

Bir anahtarın varlığını kontrol etme:

In [4]:
cities = {"Adana:" : 1, "Antalya": 7, "Kayseri": 38, "İzmir": 35, "Giresun":28}

if "İstanbul" not in cities.keys():
    cities["İstanbul"] = 34

cities

{'Adana:': 1,
 'Antalya': 7,
 'Kayseri': 38,
 'İzmir': 35,
 'Giresun': 28,
 'İstanbul': 34}

İki sözlüğü birleştirme işlemi

* Update
* ** ile

In [7]:
cities = {"Adana:" : 1, "Antalya": 7, "Kayseri": 38, "İzmir": 35, "Giresun":28}
cities2 = {"Manisa":45, "Van":65}


cities.update(cities2)

print(cities)
print(cities2)

{'Adana:': 1, 'Antalya': 7, 'Kayseri': 38, 'İzmir': 35, 'Giresun': 28, 'Manisa': 45, 'Van': 65}
{'Manisa': 45, 'Van': 65}

In [9]:
#iki sözlükte aynı key değeri varsa sonuncu girilen alınır
cities = {"Adana" : 2, "Antalya": 7, "Kayseri": 38, "İzmir": 35, "Giresun":28}
cities2 = {"Manisa":45, "Van":65, "Adana":1}

new_cities = {**cities, **cities2}
new_cities

{'Adana': 1,
 'Antalya': 7,
 'Kayseri': 38,
 'İzmir': 35,
 'Giresun': 28,
 'Manisa': 45,
 'Van': 65}

**Dictionary Kopyalama İşlemleri**

* copy()
* dict()
* = operatörü

In [11]:
sports = {
    1: "Voleybol",
    2: "Basketbol",
    3: "Tenis",
    4: "Yüzme",
    5: "Futbol"
}

In [13]:
#copy
copy_sports = sports.copy()

copy_sports[6] = "Oryantiring"

print(copy_sports)
print(sports)

{1: 'Voleybol', 2: 'Basketbol', 3: 'Tenis', 4: 'Yüzme', 5: 'Futbol', 6: 'Oryantiring'}
{1: 'Voleybol', 2: 'Basketbol', 3: 'Tenis', 4: 'Yüzme', 5: 'Futbol'}

In [14]:
# = atama operatörü ile
new_sports = sports

new_sports[6] = "Oryantiring"

print(copy_sports)
print(sports)

#iki dict ekrana yazmak istediğimiz için print kullanmamız gerekiyor

{1: 'Voleybol', 2: 'Basketbol', 3: 'Tenis', 4: 'Yüzme', 5: 'Futbol', 6: 'Oryantiring'}
{1: 'Voleybol', 2: 'Basketbol', 3: 'Tenis', 4: 'Yüzme', 5: 'Futbol', 6: 'Oryantiring'}

In [16]:
sports = {
    1: "Voleybol",
    2: "Basketbol",
    3: "Tenis",
    4: "Yüzme",
    5: "Futbol"
}

# dict() ile
dict_sports = dict(sports)

dict_sports[6] = "Oryantiring"

print(dict_sports)
print(sports)

{1: 'Voleybol', 2: 'Basketbol', 3: 'Tenis', 4: 'Yüzme', 5: 'Futbol', 6: 'Oryantiring'}
{1: 'Voleybol', 2: 'Basketbol', 3: 'Tenis', 4: 'Yüzme', 5: 'Futbol'}

**İç İçe Sözlükler**

In [18]:
my_info = {
    "name" : "Aysel",
    "GSM": "5439720743",
    "email" : "aysel.aydin@sisterslab.co",
    "adres" : {"adana":"Merkez", "İstanbul": "Pendik", "İş": "Maltepe"}
}

my_info

{'name': 'Aysel',
 'GSM': '5439720743',
 'email': 'aysel.aydin@sisterslab.co',
 'adres': {'adana': 'Merkez', 'İstanbul': 'Pendik', 'İş': 'Maltepe'}}

In [19]:
my_info["adres"]["İstanbul"]

#index ile erişilemediğinden, yalnızca key değerleri ile erişilebildiğinden 3. elemanı getir gibi yapamıyoruz

'Pendik'

In [25]:
sports = {
    9: "Voleybol",
    2: "Basketbol",
    8: "Tenis",
    4: "Yüzme",
    3: "Futbol"
}

print(sorted(sports.keys()))
print(sorted(sports.items()))
print(sorted(sports.values()))

[2, 3, 4, 8, 9]
[(2, 'Basketbol'), (3, 'Futbol'), (4, 'Yüzme'), (8, 'Tenis'), (9, 'Voleybol')]
['Basketbol', 'Futbol', 'Tenis', 'Voleybol', 'Yüzme']

In [27]:
print(sorted(sports.keys(), reverse = True))
print(sorted(sports.items(), reverse = True))
print(sorted(sports.values(), reverse = True))

[9, 8, 4, 3, 2]
[(9, 'Voleybol'), (8, 'Tenis'), (4, 'Yüzme'), (3, 'Futbol'), (2, 'Basketbol')]
['Yüzme', 'Voleybol', 'Tenis', 'Futbol', 'Basketbol']

In [28]:
#key değerlerinin uzunluğu kadar value değerine ekleme yapalım

elements = {
    "hidrojen" : 1,
    "oksijen" : 8,
    "helyum" : 2,
    "karbon" : 6
}

for key, value in elements.items():
    elements[key] = len(key) + value

elements

{'hidrojen': 9, 'oksijen': 15, 'helyum': 8, 'karbon': 12}

In [29]:
my_dict1 = {"Merve": 35, "Emre": 27, "Ayşe": 24}
my_dict2 = {"Asena": 27, "Ezgi": 31, "Emre": 38}

new_dict = { **my_dict1, **my_dict2}

new_dict

{'Merve': 35, 'Emre': 38, 'Ayşe': 24, 'Asena': 27, 'Ezgi': 31}

In [30]:
my_dict1.update(my_dict2)

my_dict1

{'Merve': 35, 'Emre': 38, 'Ayşe': 24, 'Asena': 27, 'Ezgi': 31}

In [32]:
my_dict = {"Python" : {"weeks": {"data_structures": "list", "dict": {"key": 0, "value":1}}}}

my_dict["Python"]["weeks"]["dict"]["key"]

0

In [33]:
my_dict = {"Python" : 
    {"weeks": 
        {"data_structures": "list", 
        "dict": 
            {
                "key": 0, 
                "value":1
                }
        }
    }
}

my_dict["Python"]["weeks"]["dict"]["key"]

0

In [34]:
# iki listeyi birleştirip bir sözlük oluşturalım

keys = ["Adana", "İstanbul", "Van"]
values = [1, 34, 65]

my_dict = {}

for i in range(len(keys)):
    my_dict.update({keys[i]:values[i]})

my_dict

{'Adana': 1, 'İstanbul': 34, 'Van': 65}

In [35]:
keys = ["Adana", "İstanbul", "Van"]
values = [1, 34, 65]

my_dict = dict(zip(keys, values))

my_dict

{'Adana': 1, 'İstanbul': 34, 'Van': 65}

In [36]:
friends = {
    "joey" : "Joey Tribbiani",
    "rachel" : "Rachel Green",
    "rose" : "Ross Geller",
    "monica": "Monica Geller",
    "phoebe": "Phoebe Buffay",
    "chandler": "Chandler Bing"
}

for key, value in friends.items():
    friends.update({key:value.replace(" ", "_")}) #gördüğün boşlukları alttireyle değiştir
    #friends[key] = value.replace(" ", "_").lower()
    
friends

{'joey': 'Joey_Tribbiani',
 'rachel': 'Rachel_Green',
 'rose': 'Ross_Geller',
 'monica': 'Monica_Geller',
 'phoebe': 'Phoebe_Buffay',
 'chandler': 'Chandler_Bing'}